<div class="tasks-wrap">
    <div class="tasks-refresh">
        <a href="javascript:void(0);">立即刷新</a>
        <div class="tasks-refresh-intrval"><label><input class="tasks-refresh-intrval-check" type="checkbox" />定时刷新</label><input class="tasks-refresh-intrval-time" type="text" value="10" /> s</div>
    </div>
    <div class="tasks-tabs">
        <ul>
            <li data-tar="services" class="tasks-tab tasks-tab-active">Services</li>
            <li data-tar="tasks" class="tasks-tab">Tasks</li>
            <li data-tar="process" class="tasks-tab">Process</li>
        </ul>
    </div>
    <div class="tasks-contains">
        <div class="tasks-contain tasks-contain-active tasks-contain-services"></div>
        <div class="tasks-contain tasks-contain-tasks"></div>
        <div class="tasks-contain tasks-contain-process"></div>
    </div>
    <div class="tasks-status-bar">
    </div>
</div>