<div class="window-sms">
    <div class="window-sms-title">
        <input type="text" placeholder="搜索" />
    </div>
    <div class="window-sms-container">
        <div class="window-sms-group">
            <ul class="window-sms-group-list">
            {sms_groups}
            </ul>
        </div>
        <div class="window-sms-list">
            <div class="window-sms-contact">
                <div class="window-sms-contact-head">
                    <img src="" />
                </div>
                <div class="window-sms-contact-mes">
                <p class="window-sms-contact-name"></p><p class="window-sms-contact-number"></p>
                </div>
            </div>
            <ul class="window-sms-list-scroll">
                <li class="window-sms-list-more">{text_more}</li>
            </ul>
            <div class="window-sms-send">
               <textarea></textarea>
               <span>0/140</span>
               <button>{text_send}</button>
            </div>
        </div>
    </div>
</div>
