<div class="window-videos">
    <div class="window-videos-title">
        <input type="text" placeholder="搜索" />
    </div>
    <div class="window-videos-container">
        <div class="window-videos-group">
            <ul class="window-videos-group-list">
            {videos_groups}
            </ul>
        </div>
        <div class="window-videos-list">
            <ul class="window-videos-list-scroll">
                <li class="window-videos-list-more">{text_more}</li>
            </ul>
        </div>
        <div class="window-videos-info">
            {text_filename}:<span></span>
            {text_size}:<span></span>
            {text_big}:<span></span><br />
            {text_tokentime}:<span></span>
            {text_lastModified}:<span></span>
        </div>
    </div>
</div>
