<div class="window-sms">
    <div class="window-sms-title">
        <div class="window-sms-new">{text_new}</div>
        <input type="text" placeholder="搜索" />
    </div>
    <div class="window-sms-container">
        <div class="window-sms-group">
            <ul class="window-sms-group-list">
            {sms_groups}
            </ul>
        </div>
        <div class="window-sms-list">
            <div class="window-sms-contact window-sms-contact-dialog">
                <div class="window-sms-contact-mes">
                   <p>
                    <span class="window-sms-contact-name"></span>
                    (<span class="window-sms-contact-number"></span>)
                   </p>
                </div>
            </div>
            <div class="window-sms-contact window-sms-contact-new">
                <div class="window-sms-contact-newResiver">{text_sendto}</div>
                <input class="window-sms-contact-new-input" type="text" />
            </div>
            <ul class="window-sms-list-scroll">
                <li class="window-sms-list-more">{text_more}</li>
            </ul>
            <div class="window-sms-send">
               <textarea></textarea>
               <span>0/140</span>
               <button>{text_send}</button>
            </div>
        </div>
    </div>
</div>
