<div class="window-files">
    <div class="window-files-title">
        <input type="text" placeholder="搜索" />
        <div class="tools">
            <div class="download"><a id="download_a" href="#">{text_download}</a></div>
        </div>
    </div>
    <div class="window-files-nav">
        <div class="window-files-button">
            <div class="window-files-prev"></div>
            <div class="window-files-next"></div>
        </div>
        <div class="window-files-path"></div>
    </div>
    <div class="window-files-container">
        <div class="window-files-group">
            {files_groups}
        </div>
        <div class="window-files-list">
        <ul><li class="title"><span class="head-title">{text_icon}</span><div><span class="name">{text_name}</span><span class="lastModified">{text_lastModified}</span><span class="size">{text_size}</span><span class="size">{text_type}</span></div></li>
        </ul><ul class="window-files-list-scroll">{files_lists}</ul>
        </div>
    </div>
</div>
