<div class="window-apps">
    <div class="window-apps-title">
        <input type="text" placeholder="搜索" />
    </div>
    <div class="window-apps-container">
        <div class="window-apps-group">
            {apps_groups}
        </div>
        <div class="window-apps-list">
        <ul><li class="title"><span class="head-title">{text_icon}</span><div><span class="name">{text_name}</span><span class="version">{text_version}</span><span class="installT">{text_install_time}</span><span class="size">{text_size}</span></div></li>
        </ul><ul class="window-apps-list-scroll">{apps_lists}</ul>
        </div>
</div>
