<div class="window-images">
    <div class="window-images-title">
        <input type="text" placeholder="搜索" />
    </div>
    <div class="window-images-container">
        <div class="window-images-group">
            <ul class="window-images-group-list">
            {images_groups}
            </ul>
        </div>
        <div class="window-images-list">
            <ul class="window-images-list-scroll">
                <li class="window-images-list-more">{text_more}</li>
            </ul>
        </div>
        <div class="window-images-info">
            {text_filename}:<span></span>
            {text_size}:<span></span>
            {text_big}:<span></span><br />
            {text_tokentime}:<span></span>
            {text_lastModified}:<span></span>
        </div>
    </div>
</div>
