<div class='keyboard-screen'>
<input type="text"/>
</DIV>
<div class='keyboard-wrapper'>
  <ul>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
    <li>
      <div class='text'></div>
      <div class='finger'></div>
    </li>
  </ul>
</div>