<div class="window-upload">
    <div class="window-upload-title">
        <div class="tools">
            <div class="clear"><a id="upload_clear" href="#">{text_clear_item}</a></div>
            <!--<div class="upload"><a id="upload_dir" href="#">{text_choose_dir}</a></div>-->
            <div class="upload">
                <input type="file" id="Files" name="files[]" multiple>
                <!--<a id="upload_file" href="javascript:;"><span>{text_choose_file}</span></a>-->
            </div>
        </div>
        <div class="window-upload-path">{text_upload_path}: <span>{PATH}</span><button class="window-upload-change">{text_change_path}</button></div>
    </div>
    <div class="window-upload-container">
        <div class="window-upload-list">
        <ul><li class="title"><div><span class="name">{text_name}</span><span class="progress">{text_progress}</span><span class="size">{text_size}</span><span class="size">{text_type}</span></div></li>
        </ul><ul class="window-upload-list-scroll"></ul>
        </div>
    </div>
        <div class="tools">
            <div class="clear"><a id="begin" href="#">{text_begin}</a></div>
        </div>
    <div class="window-upload-ztree"></div>
</div>
