<div class="window-musics">
    <div class="window-musics-title">
        <div class="tools">
            <div class="clear"><a id="music_play" href="#">{text_play}</a></div>
            <div class="clear"><a id="music_download" href="#">{text_download}</a></div>
        </div>
        <input type="text" placeholder="搜索" />
    </div>
    <div class="window-musics-container">
        <div class="window-musics-list">
        <ul><li class="title">
            <div>
                <span class="name">{text_name}</span>
                <span class="duration">{text_duration}</span>
                <span class="artist">{text_player}</span>
                <span class="album">{text_album}</span>
                <span class="size">{text_size}</span>
                <span class="lastModified">{text_lastModified}</span>
            </div>
        </li></ul>
        <ul class="window-musics-list-scroll">
            <li class="window-musics-list-more">{text_more}</li>
        </ul>
        
        </div>
</div>
