<div class="window-help">
    <div class="window-help-container">
        <div class="help-title"><span class="help-title-mark">帮</span>助文档</div>
        本APP由Zing开发，多多支持...
    </div>
    <div class="window-help-container window-help-updatas">
        <div class="help-title"><span class="help-title-mark">更</span>新日志</div>
        <div class="list">
        <span>九月20-26</span>
        <p>萌生想法，写出能获取信息的安卓端app demo，并成功显示在手机端</p>
        <span>九月27-28日</span>
        <p>根据socket编写http服务器，信息从安卓端到浏览器的传递</p>
        <span>九月29日</span>
        <p>浏览器端架构架设和素材整理，状态栏信息轮询获取</p>
        <span>九月30日</span>
        <p>图标系统，窗口系统，设备信息和联系人模块</p>
        <span>10月01日</span>
        <p>拖动模块，文件管理，应用管理模块</p>
        <span>10月02日</span>
        <p>上传文件出问题，更换http服务器为nanoHTTPD类</p>
        <span>10月03日</span>
        <p>重新整理服务器返回，文件上传模块</p>
        <span>10月04日</span>
        <p>通话记录模块，音频列表及播放模块</p>
        <span>10月05-06日</span>
        <p>图片，视频扫描播放模块，短信模块</p>
        <span>10月07日</span>
        <p>基于nanohttpd的websocket模块集成</p>
        <span>10月08日</span>
        <p>安卓自定义通知中心，服务模式</p>
        <span>10月09日</span>
        <p>集成通知中心信息到ws并架构桌面通知系统</p>
        <span>10月10日</span>
        <p>status推送和notify推送机制，本地通知桌面通知模块，消息中心app</p>
        <span>10月11日</span>
        <p>弹窗模块，初始端口设置，http，socket连接重连机制，剪贴板互传功能</p>
        <span>10月12日</span>
        <p>文件树模块，文件浏览和文件上传路径选择，短信发送功能</p>
        <span>10月13日</span>
        <p>短信发送对应状态监控，短信接收状态监测，通话状态监测</p>
        <span>10月14日</span>
        <p>手机刷成4.4系统，將手机端json输出程序整理</p>
        <span>10月15日</span>
        <p>浏览器端电话状态UI</p>
        <span>10月16日</span>
        <p>通知中心优化，电话状态UI补充(Play Games ~T^T~)</p>
        <span>10月17日</span>
        <p>图标位置优化，图标拖动排序，toast提示功能</p>
        <span>10月18日</span>
        <p>socket失联提示，短信接收完整功能，配置本地化保存</p>
        <span>10月19日</span>
        <p>玩游戏，T^T</p>
        <span>10月20日</span>
        <p>电话拨打功能</p>
        <span>10月21日</span>
        <p>尝试电话接听和挂断，失败</p>
        <span>10月22日</span>
        <p>项目整合，提交到GitHub，并分离开发版本</p>
        <span>10月23日</span>
        <p>联系人、通话记录呼叫当前电话功能,修复特殊窗体置顶点击问题</p>


        <p>TODO //-----------------------</p>
        <p>1. 摄像和屏幕录制功能！！！</p>
        <p><del>2. 拨号盘功能</del></p>
        <p><del>3. 电话状态检测</del></p>
        <p>4. 各个模块的搜索功能</p>
        <p>5. 软件的安装卸载</p>
        <p>6. 文件，图片，视频，音乐的上传按钮，删除操作</p>
        <p>7. 软件列表的下载功能</p>
        <p><del>8. 桌面图标拖动逻辑</del></p>
        <p><del>9. 短信接收更新</del></p>
        <p><del>10. 短信文字计数</del></p>
        <p>11. 电话声音流传输</p>
        <p>12. 手机定位</p>
        <p>13. 第三方服务器转发流量</p>
        <p>14. 图片的onError处理</p>
        <p>15. 电话的接听和挂断</p>
        <p>16. 新建信息</p>
        <p>17. 手机端发送短信不会更新到电脑端</p>

    </div>
    </div>
</div>
