<div class="window-phones">
    <div class="window-phones-title">
        <input type="text" placeholder="搜索" />
    </div>
    <div class="window-phones-container">
        <div class="window-phones-group">
            {phones_groups}
        </div>
        <div class="window-phones-list">
        <ul><li class="title">
            <span class="head-title">{text_status}</span>
            <span class="head-title">{text_icon}</span>
            <div>
                <span class="name">{text_name}</span>
                <span class="version">{text_number}</span>
                <span class="installT">{text_time}</span>
                <span class="size">{text_duration}</span>
            </div>
        </li></ul>
        <ul class="window-phones-list-scroll">{phones_lists}</ul>
        </div>
</div>
