<div class="screen-wrap">
    <div class="screen-shot">
        <div class="screen-shot-imageContain waves-effect waves-block">
            <img src="">
            <span class="screen-shot-fps"></span>
        </div>
        <div class="screen-shot-buttons">
            <span class="screen-shot-button-menu">menu</span>
            <span class="screen-shot-button-home">home</span>
            <span class="screen-shot-button-return">return</span>
        </div>
    </div>
    <div class="screen-shot-buttons-right">
        <div class="screen-shot-buttonsContain">
            <span class="screen-shot-button-name">--控制台--</span>
            <span class="screen-shot-button-fullScreen">全屏</span>
            <span class="screen-shot-button-interval">连续</span>
            <span class="screen-shot-button-refresh">刷新</span>
            <span class="screen-shot-button-quality">
                <select>
                    <option value="poor" selected="selected">poor</option>
                    <option value="fine">fine</option>
                    <option value="good">good</option>
                    <option value="prefect">prefect</option>
                </select>
            </span>
            <span class="screen-shot-button-sht">截图</span>
            <span class="screen-shot-button-rebot" data-button="power">重启</span>
        </div>
        <div class="screen-shot-buttonsContain">
            <span class="screen-shot-button-name">--命令区--</span>
            <span class="screen-shot-button-vline"></span>
            <span class="screen-shot-button-power" data-button="POWER">电源键</span>
            <span class="screen-shot-button-camera" data-button="CAMERA">相机</span>
            <span class="screen-shot-button-volume_up" data-button="VOLUME_UP">音量+</span>
            <span class="screen-shot-button-volume_down" data-button="VOLUME_DOWN">音量-</span>
            <span class="screen-shot-button-soft_left" data-button="SOFT_LEFT">左键</span>
            <span class="screen-shot-button-soft_right" data-button="SOFT_RIGHT">右键</span>
            <span class="screen-shot-button-vline"></span>
            <span class="screen-shot-button-call" data-button="CALL">拨打</span>
            <span class="screen-shot-button-endcall" data-button="ENDCALL">挂断</span>
            <span class="screen-shot-button-vline"></span>
            <span class="screen-shot-button-dpad_up" data-button="DPAD_UP">上</span>
            <span class="screen-shot-button-dpad_down" data-button="DPAD_DOWN">下</span>
            <span class="screen-shot-button-dpad_left" data-button="DPAD_LEFT">左</span>
            <span class="screen-shot-button-dpad_right" data-button="DPAD_RIGHT">右</span>
            <span class="screen-shot-button-dpad_center" data-button="DPAD_CENTER">中</span>
            <span class="screen-shot-button-vline"></span>
            <span class="screen-shot-button-clear" data-button="CLEAR">清除</span>
            <span class="screen-shot-button-del" data-button="DEL">删除</span>
            <span class="screen-shot-button-enter" data-button="ENTER">回车</span>
        </div>
    </div>
</div>