<div class="window-contacts">
    <div class="window-contacts-title">
        <div class="window-contact-new">新建联系人</div>
        <input type="text" placeholder="搜索" />
    </div>
    <div class="window-contacts-container">
        <div class="window-contacts-group">
            {contacts_groups}
        </div>
        <div class="window-contacts-list">
            {contacts_lists}
        </div>
        <div class="window-contacts-detail">
            <div class="window-contact-detail-head">
                <div class="i-float-left window-contact-page-img"><img src="" width="80" height="80" imgsrc=""></div>
                <div class="over-ellipsis window-contact-detail-name">家</div>
            </div>
            <div class="window-contact-pageEntity">
                <div class="window-contact-detailItem phones" m="phones">
                    <div class="window-contact-detail-ItemCon">
                        <div class="window-contact-detail-itemLabel i-float-left">手机</div>
                        <div class="window-contact-detail-itemName i-float-left phone">xxx</div>
                        <div class="window-contact-detail-itemOp">
                            <span class="i-cursor-hand window-contact-detail-chat">
                                <i class="icon-chat" title="发送消息"></i>发送消息
                            </span>
                            <span class="i-cursor-hand window-contact-detail-call">
                                <i class="ml6 icon-calllog" title="呼叫"></i>呼叫
                            </span>
                        </div>
                    </div>
                </div>
                <div class="window-contact-detailItem  hide " m="emails"></div>
                <div class="window-contact-detailItem  hide " m="address"></div>
                <div class="window-contact-detailItem  hide " m="websites"></div>
                <div class="window-contact-detailItem  hide " m="notes"></div>
            </div>
        </div>
</div>